[submodule "SportTrainer"]
	path = SportTrainer
	url = git@github.com:robcam1401/SportFitness2024.git
[submodule "403 Godot Project"]
	path = 403 Godot Project
	url = git@github.com:LiterallyANoodle/Fall2020_CSC403_Project.git
[submodule "Personal Website"]
	path = Personal Website
	url = git@github.com:zachn988/zachn988.github.io.git
[submodule "ASM Interpreters"]
	path = ASM Interpreters
	url = git@github.com:zachn988/interpreters.git
